extends layout

block content 
  h1= title
  p Welcome to #{title}
  table(class="table")
    th() Sr.
    th() Name
    th() Email
    th() Option
    tr()
      td() 1
      td() Mishan
      td() mishan2512@gmail.com
      td() 
        a(hfer="#" class="btn btn-info") Edit
        a(hfer="#" class="btn btn-danger") Delete